* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    height: 56px;
    background-color: #f55a5a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    margin-bottom: 50px;
}

.nav--logo {
    width: 24px;
    height: 24px;
}

.nav--title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card--image {
    width: 130px;
    height: 260px;
    border-radius: 7px;
    object-fit: cover;
}

.card {
    width: 360px;
    max-width: 360px;
    /* height: 200px; */
    max-height: 300px;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.card--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    /* height: -o-calc(100% - 56px);
    height: -webkit-calc(100% - 56px);
    height: -moz-calc(100% - 56px); */
}

.card--location {
    display: flex;
    align-items: center;
    gap: 5px;

}

.card--content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.card--location-icon {
    color: #f55a5a;
}

.card--description {
    font-weight: 400;
    font-size: 10.5px;
    line-height: 150%;
    word-wrap: break-word;
    padding-right: 10px;
}

.card--country {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    word-wrap: break-word;
}

.card--title {
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    word-wrap: break-word;
}

.card--date {
    margin-top: 9px;
    font-weight: 700;
    font-size: 10.24px;
    margin-bottom: 9px;
}


hr {
  border: 0;
  clear:both;
  display:block;          
  background-color: lightgray;
  height: 2px;
  width: 320px;
}

a {
    color: gray;
    font-size: 12px;
    margin-left: 5px;
    align-self:last baseline;
    padding-bottom: 3px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 56px;
    background-color: #f55a5a;
    margin-top: 40px;
}

footer > p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}